<div class="header">
  <!-- <div mat-card-avatar class="img-trampo"> -->
    <a href="#default" class="logo">

      Trampos de Belém</a>

    <button mat-button>Vagas</button>

    <button mat-button>Empresas</button>

    <button mat-button>Sobre a plataforma</button>

    <div class="header-right">
      <button mat-raised-button
              routerLink="/login-empresa">Entrar</button>
      <button mat-raised-button
              color="warn"
              routerLink="/cadastro-empresa"
              style="margin-left: 5px;">Me cadastrar</button>
    </div>
</div>
