<app-loading [loading]="loading"></app-loading>

<p-toast position="top-left"></p-toast>

<form *ngIf="leberarForm" (ngSubmit)="salvar()">
  <!-- Grd row -->
  <div class="form-row card-form">
    <h3 style="color: black;">Cadastro de Vagas</h3>

    <!-- Grid column -->
    <div class="col-md-12">

    </div>
    <div class="p-field p-col-12 p-md-6">
      <div class="p-field p-fluid">
        <label for="title">Título da Vaga*</label>
        <input id="title"
              type="title"
              pInputText
              placeholder="Programador RoR Full-Stack, Lavador de Carro ..."
              name="title"
              [(ngModel)]="vacancy.title"
              aria-describedby="username-help">
              <small id="username2-help"
                     class="p-invalid"
                     *ngIf="vacancy.title == ''">Título é obrigatório.</small>
      </div>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <div class="p-field p-fluid">
        <label for="name_company">Nome da Empresa contratante*</label>
        <input id="name_company"
              type="text"
              pInputText
              name="name_company"
              [(ngModel)]="vacancy.name_company"
              aria-describedby="username-help">
              <small id="username2-help"
                     class="p-invalid"
                     *ngIf="vacancy.name_company == ''">Nome da Empresa é obrigatório.</small>
      </div>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <div class="p-field p-fluid">
        <label for="company_website">Site da Empresa <i>(Não esqueça do https://)</i></label>
        <input id="company_website"
              type="text"
              pInputText
              name="company_website"
              [(ngModel)]="vacancy.company_website"
              aria-describedby="username-help">
      </div>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <div class="p-field p-fluid">
        <label for="location">Localização*</label>
        <select class="browser-default custom-select" name="location" [(ngModel)]="vacancy.location" required>
          <option selected>Selecione</option>
          <option value="Belém/PA">Belém/PA</option>
        </select>
          <small id="username2-help"
                  class="p-invalid"
                  *ngIf="vacancy.location == ''">Localização é obrigatório.</small>
      </div>
    </div>

    <div class="col-md-12">
      <label>Tipo da Vaga*</label>
      <select class="browser-default custom-select" name="type_vacancy" [(ngModel)]="vacancy.type_vacancy" required>
        <option selected>Selecione</option>
        <option value="CLT">CLT</option>
        <option value="Autônomo">Autônomo</option>
        <option value="Empresário">Empresário</option>
        <option value="Estagiário">Estagiário</option>
        <option value="Freelancer">Freelancer</option>
        <option value="Voluntário">Voluntário</option>
        <option value="Temporário">Temporário</option>
        <option value="Contratação PJ">Contratação PJ</option>
      </select>
      <small id="username2-help"
                     class="p-invalid"
                     *ngIf="vacancy.type_vacancy == ''">Tipo da vaga é obrigatório.</small>
    </div>

    <div class="col-md-12">
      <label class="label-text-input">Sobre a empresa*</label><br>
      <textarea pInputTextarea rows="8" cols="130" name="about_company" [(ngModel)]="vacancy.about_company"></textarea>
    </div>
    <!-- Grid column -->
    <div class="col-md-12">
      <label class="label-text-input">Descrição da Vaga*</label><br>
      <small id="username2-help"
                     class="p-invalid"
                     *ngIf="vacancy.description_vacancy == ''">Descricao da vaga é obrigatório.</small>
                     <div class="alert alert-primary" role="alert">
                      Por favor, para melhor usabilidade da plataforma adicione as informações de acordo com o que você está procurando em um candidato,
                      dessa forma vai melhorar a interação do candidato com a sua empresa e assim fazendo o trabalho fluir melhor :)
                    </div>
      <p-editor name="description_vacancy"
                [(ngModel)]="vacancy.description_vacancy"
                [style]="{'height':'320px'}"
                placeholder="Escreva algo ..."
                required></p-editor><br>
    </div>

    <div class="col-md-12">
      <label class="label-text-input">Informações para contato*</label><br>
      <small id="username2-help"
                     class="p-invalid"
                     *ngIf="vacancy.contact_information == ''">Informação para contato é obrigatório.</small>
      <p-editor name="contact_information"
                [(ngModel)]="vacancy.contact_information"
                [style]="{'height':'100px'}"
                placeholder="Escreva algo ..."
                required></p-editor><br>
    </div>

    <!-- <div class="alert alert-primary" role="alert">
      Precisamos que nos informe uma data para essa vaga expirar, dessa forma vamos melhorar a informação para os candidatos.
    </div> -->
    <div class="p-field p-col-12 p-md-4">
      <label>Data para vaga expirar*</label><br>
      <small id="username2-help"
                     class="p-invalid"
                     *ngIf="vacancy.vacancy_expired == ''">Data para expirar é obrigatório.</small>
      <p-calendar inputId="vacancy_expired"
                  name="vacancy_expired"
                  dateFormat="dd/mm/yy"
                  [(ngModel)]="vacancy.vacancy_expired"
                  [locale]="pt"
                  required></p-calendar>
    </div>

    <div class="col-md-12">
      <button pButton
              pRipple
              type="submit"
              label="Publicar"
              class="p-button-secondary"></button>

      <button pButton
              pRipple
              type="button"
              label="Cancelar"
              class="p-button-danger"
              (click)="cancelar()"
              style="margin-left: 1%;"></button>
    </div>
  </div>
  <!-- Grd row -->
</form>
<!-- Default form row -->
