<div class="header">
    <a href="" class="logo">List Jobs</a>

    <!-- <button mat-button>Vagas</button>

    <button mat-button>Anunciantes</button> -->

    <!-- <button mat-button>Sobre a plataforma</button> -->

    <div class="header-right">
      <button mat-raised-button
              routerLink="/login-empresa">Entrar</button>

      <button mat-raised-button
              color="warn"
              routerLink="/cadastro-empresa"
              style="margin-left: 5px;">Me cadastrar</button>
    </div>
</div>
