<app-header></app-header>

<mat-card class="card-login">
  <form class="text-center border border-light p-5">

    <p class="h4 mb-4">ENTRAR</p>
    <hr>

    <div class="alert alert-danger" role="alert" *ngIf="erro">
      {{msg}}
    </div>

    <input type="email"
           id="defaultLoginFormEmail"
           class="form-control mb-4"
           name="email"
           [(ngModel)]="anunciante.email"
           placeholder="E-mail">

    <input type="password"
           id="defaultLoginFormPassword"
           class="form-control mb-4"
           name="password"
           [(ngModel)]="anunciante.password"
           placeholder="Senha">

    <button mat-raised-button
            color="warn"
            class="form-control mb-4"
            [class.spinner]="loading" [disabled]="loading"
            (click)="entrar()">Entrar</button>

  </form>
</mat-card>
