<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark header-admin">
  <!-- <p-button type="button" (click)="visibleSidebar1 = true" icon="pi pi-bars" class="p-button"></p-button> -->
  <i class="pi pi-bars bars-button" (click)="visibleSidebar1 = true"></i>
  <!-- <a class="navbar-brand" style="margin-left: 15px;" routerLink="dashboard">SmallDev-Jobs</a> -->

  <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
  <!-- Navbar Search-->
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
          <label style="color: white;">{{nomeUsuario}}</label>
          <!-- <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
          <div class="input-group-append">
              <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
          </div> -->
      </div>
  </form>
  <!-- Navbar-->
  <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="pi pi-user"></i></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
              <!-- <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="#">Activity Log</a> -->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="cursor: pointer;" (click)="sair()">Sair</a>
          </div>
      </li>
  </ul>
</nav>

<div class="content">
  <br><br><br>
  <router-outlet></router-outlet>
</div>

<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
  <!-- <h1 style="font-weight:normal; margin-left: 15px;">

    SmallDev-Jobs</h1> -->
    <img src="./assets/img/logojobs.png"
         alt="SmallDev-jobs"
         class="logo-jobs"
         routerLink="/admin/dashboard"
         style="width: 70%; cursor: pointer;">

    <!-- <p-panelMenu [model]="items"></p-panelMenu> -->
    <p-menu [model]="items" styleClass="p-menu"></p-menu>
</p-sidebar>
