<app-header></app-header>
<p-toast position="top-left"></p-toast>

<mat-card class="header-register-company container">
  <h5 style="text-align: center; color: black;">CRIAR CONTA DE ANUNCIANTE</h5><br>

  <hr>

  <div class="alert alert-primary" role="alert" style="text-align: center;">
    Já possui cadastro? <a href="#default" routerLink="">Entrar</a>
  </div>
  <hr>

  <form style="margin-left: 35%;">
    <div class="form-row">
      <div class="col-md-6">
        <label class="label-text-input">Nome Completo*</label>
        <input mdbInput type="text" name="fullName" [(ngModel)]="company.fullName" class="form-control">
      </div>

      <div class="col-md-6"></div>

      <div class="col-md-6">
        <label class="label-text-input">Email*</label>
        <input mdbInput type="text" name="email" [(ngModel)]="company.email" class="form-control">
      </div>
      <div class="col-md-6"></div>

      <div class="col-md-6">
        <label class="label-text-input">Senha*</label>
        <input mdbInput type="password" name="password" [(ngModel)]="company.password" class="form-control">
      </div>
    </div>

    <div class="spinner-border text-primary" role="status" *ngIf="loading">
      <span class="sr-only">Loading...</span>
    </div>

    <button mat-raised-button
            color="warn"
            (click)="cadastrarAnunciante()"
            style="margin-left: 18%; margin-top: 8%;">Cadastrar</button>
  </form>
  <br><br>
</mat-card><br>
