<app-header></app-header>

<mat-card class="header-register-company container">
  <h5 style="text-align: center; color: black;">CRIAR CONTA DE EMPRESA</h5><br>

  <hr>

  <div class="alert alert-primary" role="alert" style="text-align: center;">
    Já possui cadastro? <a href="#default" routerLink="">Entrar</a>
  </div>

  <hr>
  <!-- Default form row -->
  <form>
    <!-- Grd row -->
    <div class="form-row">
      <div class="col-md-6">
        <label class="label-text-input">Nome Completo*</label>
        <input mdbInput type="text" class="form-control">
      </div>

      <div class="col-md-6">
        <label class="label-text-input">Telefone para contato</label>
        <input mdbInput type="text" class="form-control">
      </div>

      <div class="col-md-6">
        <label class="label-text-input">Email*</label>
        <input mdbInput type="text" class="form-control">
      </div>

      <div class="col-md-6">
        <label class="label-text-input">Senha*</label>
        <input mdbInput type="text" class="form-control">
      </div>

      <div class="col-md-6">
        <label class="label-text-input">Nome da empresa*</label>
        <input mdbInput type="text" class="form-control">
      </div>

      <div class="col-md-6">
        <label class="label-text-input">Site da empresa*</label>
        <input mdbInput type="text" class="form-control">
      </div>

      <div class="col-md-6">
        <label class="label-text-input">Cidade*</label>
        <input mdbInput type="text" class="form-control">
      </div>

      <div class="col-md-6">
        <label class="label-text-input">Descrição da empresa</label>
        <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grd row -->

    <button mat-raised-button
      color="warn"
      style="margin-left: 45%; margin-top: 5%;">Cadastrar</button>
  </form>
  <!-- Default form row -->
  <br><br>
</mat-card><br>
