::deep-ng .p-card-content {
  height: auto;
}

.card-show {
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
}

.company-name {
  margin: 0 auto;
  width: 100%;
}

.border-distance {
  margin-left: 1%;
}

.p-button {
  margin-left: 5%;
}
