<app-header></app-header>

<app-loading [loading]="loading"></app-loading>

<br><br>

<p-button
    label="Voltar"
    class="p-button"
    (click)="voltar()"
    *ngIf="liberaCard"
    icon="pi pi-angle-double-left">
</p-button>

<br><br>

<div class="p-d-flex p-flex-column card-show" *ngIf="liberaCard">

  <br>
  <h2 style="font-size: 30px; margin-left: 1%">
    <strong>{{ vacancy.title }} - {{vacancy.type_vacancy }}</strong>
  </h2>
  <div class="border-distance company-name p-mb-2">
    <br>
    <b>Publicado por:</b> {{ vacancy.name_company }} no
    <b>dia:</b> {{ vacancy.created_at | date: 'dd/MM/yyyy' }}
    e <b>expira dia:</b> {{ vacancy.vacancy_expired | date: 'dd/MM/yyyy' }}
    <br><br><b>Site da Empresa: </b>
    <a href="{{vacancy.company_website}}" target="_blank">
      {{
        vacancy.company_website !== null ? vacancy.company_website : 'Não informado'
      }}
    </a>
    <hr>
  </div>
  <br>

  <div class="border-distance p-mb-2">
    <div [innerHTML]="vacancy.description_vacancy" style="margin-top:1%; word-wrap: break-word;"></div>
  </div>

  <div class="border-distance p-mb-2">
    <h3>Informações para contato</h3>
    <hr>

    <br>
    <div [innerHTML]="vacancy.contact_information"></div>
  </div>
</div>
<br><br>
