<app-loading [loading]="loading"></app-loading>

<p-card [style]="{'width': '80%', 'margin-left': '10%', 'margin-bottom': '2em'}">
  <h2 *ngIf="vacanciesForCandidates.length === 0" style="color: brown; text-align: center;"> Não temos vagas no momento :(</h2>
  <article class="job-card" *ngFor="let vacancy of vacanciesForCandidates">
    <!-- <div class="company-logo-img">
      <img src="" />
    </div> -->
    <div class="job-title" style="cursor: pointer;" (click)="exibirVaga(vacancy.id)">{{vacancy.title}} - {{vacancy.type_vacancy}}</div>
    <div class="company-name"><b>Publicado por:</b> {{ vacancy.name_company }} - <b>Dia:</b> {{ vacancy.created_at | date: 'dd/MM/yy' }} e <b>Expira dia:</b> {{ vacancy.vacancy_expired | date: 'dd/MM/yyyy' }}</div>
    <div class="skills-container">
      <!-- <div class="skill">Photoshop</div> TAGS
      <div class="skill">Illustrator</div>
      <div class="skill">HTML</div> -->
    </div>
    <!-- <button class="apply">Me-Candidatar</button> -->
    <!-- <button class="save">Save Job</button> -->
    <!-- <a href="#" (click)="exibirVaga(vacancy.id)"></a> -->
  </article><br><br>
</p-card>
