<app-loading [loading]="loading"></app-loading>

<app-emails-candidates></app-emails-candidates>

<div class="container-fluid p-grid">
  <div class="d-md-inline-flex row justify-content-center p-col">
    <div class="card box" style="width: 25rem;" *ngFor="let vacancy of vacanciesForCandidates">
      <div class="card-body">
        <div class="row justify-content-between">
          <div class="col-auto col-sm-auto">
            <h4> <span class="badge badge-pill badge-success text-white ">{{ vacancy.type_vacancy }}</span></h4>
          </div>
          <div class="col-auto col-sm-auto">
            <div class="row mx-auto pt-2">
              <h5>Publicado dia: {{vacancy.created_at | date: 'dd/MM/yyyy'}}</h5>
            </div>
          </div>
        </div>
        <h5 class="card-title font-weight-bold">{{vacancy.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{vacancy.name_company}}</h6>
        <div>
          <hr class="hl">
        </div>
        <div class="card-footer border-0 text-center mx-auto ">
          <h5 class="footer" (click)="exibirVaga(vacancy.id)" style="cursor: pointer;"> Exibir Vaga</h5>
        </div>
      </div>
    </div>
  </div>
</div>


