<app-header></app-header>

<mat-card class="div-centro-card container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="vagas-totais">TEMOS {{vagasTotal}} VAGA(S) EM ABERTO</h1>
    </div>
  </div>

  <div class="row" style="margin-left: 5%;">
    <div class="col-md-8" style="margin-left: 5%;">
      <input type="text" class="form-control" id="search" placeholder="Palavra Chave" mdbInput />
    </div>

    <div class="col-md-3">
      <button mat-raised-button color="success">Buscar</button>
    </div>
  </div>

</mat-card>
